*{
margin: 0px;
padding: 0px;
}

body{
    background-color: aquamarine;
}

h1, h2{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    position: absolute;
    z-index: -1;
    margin-left: 30%;
}

#corazon {
    background-color: red;
    display: inline-block;
    height: 60px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    position: absolute; 
    left: 52%; 
    top: 52%;
    width: 60px;
    animation: latido 1s infinite;
}
  
  #corazon:before,
  #corazon:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 60px;
    position: absolute;
    width: 60px;
  }
  
  #corazon:before {
    top: -25px;
    left: 0;
  }
  
  #corazon:after {
    left: 25px;
    top: 0;
  }
  
  @keyframes latido {
    0%, 100% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(1.1) rotate(-45deg);
    }
  }